@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&family=Waterfall&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";



/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}



.font-worksans {
  font-family: "Work Sans", sans-serif;
}

.font-onest {
  font-family: "Onest", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-waterfall {
  font-family: "Waterfall", cursive;
}

.font-caveat {
  font-family: "Caveat", cursive;

}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 12s linear infinite;
}



@keyframes scrollText {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-text {
  animation: scrollText 40s linear infinite;
  display: flex;
  align-items: center;
}

.animate-scroll-text:hover {
  animation-play-state: paused;
}






/* @keyframes paddingGrow {
  from {
    padding-top: -120px;
    padding-bottom: 0;
  }

  to {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}

@keyframes top-text {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes bottom-text {
  from {
    transform: translateY(150px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
} */

@keyframes center-text {
  from {
    opacity: 0;
  }

  to {

    opacity: 1;
  }
}


/* Mobile (below md breakpoint ~768px) */
@media (max-width: 680px) {
  @keyframes paddingGrow {
    from {
      padding-top: -80px;
      padding-bottom: 0;
    }

    to {
      padding-top: 2.1rem;
      padding-bottom: 2.1rem;
    }
  }

  @keyframes top-text {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }

    to {
      transform: translateY(40px);
      opacity: 1;
    }
  }

  @keyframes bottom-text {
    from {
      transform: translateY(100px);
      opacity: 0;
    }

    to {
      transform: translateY(-40px);
      opacity: 1;
    }
  }
}

/* Tablet (768px - 1023px) */
@media (min-width: 681px) and (max-width: 1023px) {
  @keyframes paddingGrow {
    from {
      padding-top: -100px;
      padding-bottom: 0;
    }

    to {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  @keyframes top-text {
    from {
      transform: translateY(-120px);
      opacity: 0;
    }

    to {
      transform: translateY(15px);
      opacity: 1;
    }
  }

  @keyframes bottom-text {
    from {
      transform: translateY(120px);
      opacity: 0;
    }

    to {
      transform: translateY(-15px);
      opacity: 1;
    }
  }
}

/* Large desktop (above 1280px) */
@media (min-width: 1024px) and (max-width: 1420px) {
  @keyframes paddingGrow {
    from {
      padding-top: -140px;
      padding-bottom: 0;
    }

    to {
      padding-top: 5.5rem;
      padding-bottom: 5.5rem;
    }
  }

  @keyframes top-text {
    from {
      transform: translateY(-180px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes bottom-text {
    from {
      transform: translateY(180px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}


/* Large desktop (above 1280px) */
@media (min-width: 1440px) {
  @keyframes paddingGrow {
    from {
      padding-top: -140px;
      padding-bottom: 0;
    }

    to {
      padding-top: 7.2rem;
      padding-bottom: 7.2rem;
    }
  }

  @keyframes top-text {
    from {
      transform: translateY(-180px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes bottom-text {
    from {
      transform: translateY(180px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}


/* Large desktop (above 1280px) */
/* @media (min-width: 2100px) {
  @keyframes paddingGrow {
    from {
      padding-top: -180px;
      padding-bottom: 0;
    }

    to {
      padding-top: 7.2rem;
      padding-bottom: 7.2rem;
    }
  }

  @keyframes top-text {
    from {
      transform: translateY(-180px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes bottom-text {
    from {
      transform: translateY(180px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
} */





.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  margin-top: 8px;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider:hover .item {
  animation-play-state: paused !important;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  /* At initial to the left most side */
  animation: corosal var(--time) linear infinite;
  animation-delay: calc(var(--time) / var(--quantity) * (var(--position) - 1) - 14s);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes corosal {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}

/* Reverse Corosal */
.slider[reverse="true"] .item {
  animation: reverse_corosal 14s linear infinite;
  animation-delay: calc(var(--time) / var(--quantity) * (var(--position) - 1) - 14s);
}

@keyframes reverse_corosal {
  from {
    left: calc(var(--width) * -1);
  }

  to {
    left: 100%;
  }
}